.card{
   display: flex;

   flex-direction: collumn;

   padding: 1rem;
   background-color: white;
   gap: 1rem;
   border-radius: 10px;

   width: 300px;
}

.card img{
   height: auto;
   width: 100%;
}

.card .content-container{
   display: flex;
   flex-direction: column;
}

.card .content-container .product-title{
   text-transform: capitalize;
   display: flex;
   flex-direction: column;
}