.card{
   display: flex;

   flex-direction: row;
   

   padding: 1rem;
   background-color: white;
   gap: 1rem;
   border-radius: 10px;
}

.card img{
   height: 100px;
   width: 100px;
}

.card .content-container{
   display: flex;
   flex-direction: column;
}